
.profile {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.profile-name {
    font-size: 20px;
    margin-top: 0px;
    font-weight: bold;
}
.photo-avatar {
    flex-basis: 185px;
    margin-right: 25px;
}
.photo-avatar img {
    width: 100%;
}
