.header {
    display: grid;
    grid-template-areas: 
    "logo-block header-search";
    grid-template-rows: auto;
    grid-template-columns: 2fr 6fr;
    grid-gap: 25px;
    background-color: #90a777;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
  }
  .header img {
    width: 40px;
  }
  .logo-block {
    grid-area: logo-block;
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  .header-search {
    grid-area: header-search;
    align-self: center;
    height: 40px;
    background-color: #7a925f;
    display: flex;
    flex-direction: row;
    align-items:center;
    border-radius: 8px;
  }
  .header-search .fas {
    color: #b3bda8;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-search input {
    width: 100%;
    background-color: #7a925f;
    border: none;
    border-radius: 8px;
    height: 100%;
    color: #ffffff;
    outline: none;
  }
  .header-search input::placeholder {
    color: #b3bda8;
  }
  .header-settings {
    grid-area: header-settings;
    align-self: center;
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
  }
  .header-settings .fas {
    color: #f4f7f2;
    margin-left: 5px;
  }
  .header-settings__icons {
    margin-right: 10px;
  }
  .header-settings__photo img{
    margin-left: 10px;
    border-radius: 100px;
  }
  .logo-block__image {
    width: auto;
  }
  .logo-block__text{
    color: #f4f7f2;
    display: flex;
    align-items: center;
  }