.dialogs-item {
    border-bottom: 1px solid #d1d1d1;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 8px;
    display:flex;
    flex-direction: row;
    justify-content: left;
}

.dialogs-item p {
    color: black;
    font-size: 18px;
    margin-left: 15px;
}
