a {
  text-decoration: none;
}
h3 {
  padding: 25px 15px 15px 22px;
  color: #777777;
  margin: 0px;
}
input, button, textarea {
  outline:none;
}
.wrapper {
  background-color: #fdfdfc;
  width: auto;
}
.main-wrapper {
  padding-top: 25px;
  display: grid;
  grid-template-areas: 
    "nav cont"
    "sidebar cont"
    ". cont";
  grid-template-rows: 3fr 3fr;
  grid-template-columns: 2fr 6fr;
  grid-gap: 25px;
  width: auto;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.main {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 4px #efefef;
}

.content {
  grid-area: cont;
  background-color: #ffffff;
  padding: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
}
/* .additional-content {
  grid-area: additional-cont;
} */
.photo-mini {
  width: 60px;
}
.photo-mini img {
  width: 100%;
  border-radius: 100px;
}
.send-button {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: right;
  outline: none;
  border:none;
}
.send-button button {
  background-color: #90a777;
  border-radius: 8px;
  border: none;
  height: 30px;
  width: 100px;
  color: #ffffff;
}