.post-input textarea{
    width: 99.5%;
    background-color: #f4f7f2;
    border: 0px solid gray;
    border-radius: 8px;
    height: 50px;
    outline: none;
    vertical-align: top;
    padding: 10px;
}


.posts {
    display: flex;
    flex-direction: column;
}
